# commma separated list of games name_ids.
GAMES=timberborn
# path to the game's installation directory GAMES_<name_id.toUpperCase()>
GAMES_TIMBERBORN=C:\SteamLibrary\steamapps\common\Timberborn
# install bepinex if subscribed
INSTALLBEPINEX=false
# https://mod.io/me/access
# API Access url
MODIO_API=
# OAuth Access Token
MODIO_API_TOKEN=